@page "/"
@using EdgeMq.Client
@inject IEdgeMqClient EdgeMqClient;

<PageTitle>EdgeMQ Dashboard</PageTitle>

<div style="margin-bottom: 10px; margin-top: 10px; display: flex; justify-content: right" >
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Tertiary">refresh</MudButton>
</div>

@foreach (var queue in _queues)
{
    <MudCard Style="margin-bottom: 10px">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">@queue.Name</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid Justify="Justify.FlexEnd">
                <MudItem xs="6">
                    <MudGrid>
                        <MudItem xs="6">
                            <MudGrid>
                                <MudItem xs="12">
                                    <MudText>Mode:</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>Count:</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>Size:</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>Messages in:</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>Messages out:</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>Pressure (count):</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>Pressure (size):</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>Buffer pressure (count):</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>Buffer pressure (size):</MudText>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="6">
                            <MudGrid>
                                <MudItem xs="12">
                                    <MudText>@queue.Mode</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>@queue.Metrics.MessageCount</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>@queue.Metrics.MessagesSizeBytes</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>@queue.Metrics.MessagesInPerSecond.ToString("F")/s</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>@queue.Metrics.MessagesOutPerSecond.ToString("F")/s</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>@GetCountPressure(queue.Metrics)</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>@GetSizePressure(queue.Metrics)</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>@GetBufferCountPressure(queue.Metrics)</MudText>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>@GetBufferSizePressure(queue.Metrics)</MudText>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="6">
                    <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" ChartOptions="@Options"/>
                </MudItem>
            </MudGrid>
            <MudProgressLinear Color="Color.Primary" Buffer="true" Value="0.7d" BufferValue="0.2d" Class="my-7"/>
            <MudProgressLinear Color="Color.Secondary" Buffer="true" Value="0.7d" BufferValue="0.2d" Class="my-7"/>
        </MudCardContent>
    </MudCard>
}